body {
    font-family: 'Times New Roman';
    color: aliceblue;
    padding: 20px;
    line-height: 1.6;
    background-color: black;
}

h1 {
    font-family: 'Times New Roman';
    color: goldenrod;
    text-align: center;
}

#question-container div {
    margin-bottom: 20px;
}

label {
    display: block;
}